<div class="flex justify-content-around flex-column align-items-center h-screen">
	@if(profiles$ | async; as profiles){
		<h1 class="text-center py-5">Select your profile</h1>
		<div class="grid w-15rem lg:w-full align-items-center justify-content-around">
			@if(profiles.results.length){
				@for(profile of profiles.results; track $index){
					<div class="col-12 lg:col-3 text-center">
						<div class="relative h-15rem" (click)="SelectProfile(profile.id)">
							<img
								[ngSrc]="profile.img"
								alt="Image's profile"
								[style]="{objectFit: 'contain'}"
								class="h-full border-round transition-duration-300 cursor-pointer select-profile"
								fill priority>
						</div>
						<p [style]="{'font-size': 'x-large'}" class="font-bold">{{profile.name}}</p>
					</div>
				}
			}
			@if(profiles.results.length < 5){
				<div
						class="col-12 lg:col-3 h-15rem flex justify-content-center align-items-center select-profile">
						<div class="p-6 bg-red-500 border-round cursor-pointer" (click)="addProfile = true">
							<i class="pi pi-plus" [style]="{'font-size': '10rem'}"></i>
						</div>
				</div>
			}
		</div>
	}
	@else {
		<p-skeleton width="100%"/>
	}
</div>
<!--That section is to created profile-->
<p-dialog header="Add profile" [modal]="true" [(visible)]="addProfile"
	[style]="{'width': '25rem', 'height': '30rem'}">
	<div class="flex justify-content-center align-items-center pointer h-10rem w-10rem m-auto">
		@if(newPhotoProfile){
			<img [src]="newPhotoProfile" alt="Not found" (click)="ViewPhotosForProfile()" class="h-full">
		}@else {
			<i class="pi pi-user" [style]="{'font-size': '10rem'}" (click)="ViewPhotosForProfile()"></i>
		}
	</div>
	<div class="flex justify-content-center flex-column">
		<label for="name">Name</label><br>
		<input pInputText type="text" name="" id="name" title="name" [(ngModel)]="newNameProfile"/>
	</div>
	<ng-template pTemplate="footer" class="flex">
		<p-button label="Create" (onClick)="CreateProfile()" />
	</ng-template>
	<p-confirmDialog />
</p-dialog>
<!-- this section is to selected a photo for profile -->
<app-show-images title="Select photo" [(isActive)]="selectPhotoProfile" [images$]="photos$"
	(getImage)="ChangePhotoProfile($event)" />
