<p-tabMenu 
  [model]="items" 
  [activeItem]="activeItem"/>
<p-toast/>
@if(data$ | async; as series){
    <div class="flex flex-row flex-wrap justify-content-center">
      @for(serie of series.results; track $index){
            <p-card
              [header]="serie.original_name" 
              [style]="{width: '200px'}"
              class="transition-duration-200 hover:shadow-7 m-3 cursor-pointer select-item" id="card">
              <ng-template pTemplate="header">
                <img [src]="serie.poster_path" alt="Not found">
              </ng-template>
              <ng-template pTemplate="footer">
                <p-button 
                  icon="pi pi-heart"
                  [raised]="true"
                  [rounded]="true"
                  size="large"
                  (onClick)="AddSerieFavorite(serie.id, serie.original_name, serie.poster_path, serie.genre_ids)"/>
              </ng-template>
            </p-card>
      }
    </div>
}@else {
    <div class="flex justify-content-center">
        <p-progressSpinner/>
    </div>
}
<p-paginator
  (onPageChange)="ChangePage($event)"
  [totalRecords]="totalSeries"
  [first]="controlStatePaginator"
  [rows]="numberOfSeriesForShow"
  [alwaysShow]="false"/>