@if(menuItems()){
	<p-tabMenu [model]="menuItems()" [activeItem]="activeItem()" />
}
<h2>{{title()}}</h2>
<div class="grid my-3">
	@if(items() | async; as items){
		@for(item of items.results; track $index){
			<div class="select-item col-1 w-14rem cursor-pointer hover:shadow-7 transition-duration-200 m-1"
				(click)="EmitId(item.id, item.type)" [@fadeIn]>
				<p-card [header]="item.original_title || item.original_name" class="card-custom">
					<ng-template pTemplate="header">
						<div class="relative h-16rem w-12rem">
							<img [ngSrc]="item.poster_path" alt="Not found" [style]="{objectFit: 'cover'}" fill priority>
						</div>
					</ng-template>
				</p-card>
			</div>
		}
	}@else {
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
			<p-skeleton height="16rem" width="12rem" class="col" />
	}
</div>
@if(showPaginator()){
	<p-paginator
		(onPageChange)="getIndexPaginator.emit($event)"
		[totalRecords]="totalItemsToPaginator()"
		[first]="controlStatePaginator()!"
		[rows]="itemsForShowToPaginator()"
		[alwaysShow]="false"/>
}
