<div>
    <form [formGroup]="title">
        <div class="my-3">
            <i class="pi pi-search mr-2"></i>
            <input
                pInputText 
                type="text" 
                formControlName="title" 
                placeholder="Search"
                title="search"
                class="mr-3"/>
            <p-button
                (onClick)="ShowResultOfTitle()"
                label="Show"/>
        </div>
    </form>
    <form [formGroup]="filter">
        <p-dropdown
            formControlName="genre"
            optionLabel="name"
            [options]="data"
            placeholder="Genre"/>
            <p-button 
                (onClick)="ShowResultOfFilter()"
                label="Show"/>
    </form>
</div>