<div>
    <form [formGroup]="title">
        <!-- <input 
            pInputText 
            type="text" 
            formControlName="title" 
            placeholder="Search"
            title="search"/>
            <p-button
                (onClick)="ShowResultOfTitle()"
                label="Show"/> -->
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search"/>
            <input 
                type="text"
                pInputText
                placeholder="Search">
        </p-iconField>
    </form>
    <form [formGroup]="filter">
        <p-dropdown
            formControlName="genre"
            optionLabel="name"
            [options]="data"
            placeholder="Genre"/>
            <p-button 
                (onClick)="ShowResultOfFilter()"
                label="Show"/>
    </form>
</div>