<div class="w-full h-screen p-8">
	<form [formGroup]="registerForm" (keyup.enter)="Register()">
		<div
			class="m-auto lg:w-25rem bg-red-600 m-auto flex flex-column justify-content-between align-items-center p-4 border-round shadow-3"
			[style]="{height: '34rem'}">
			<h1>Register</h1>
			<div class="field">
				<p-floatLabel>
					<input
						pInputText
						id="new-user"
						class="w-15rem"
						formControlName="username"
						[maxlength]="40"/>
					<label for="new-user">Username</label><br>
				</p-floatLabel>
			</div>
			<div class="field">
				<p-floatLabel>
					<input
						pInputText
						id="new-email"
						class="w-15rem"
						formControlName="email"/>
					<label for="new-email">Email</label><br>
				</p-floatLabel>
			</div>
			<div class="field">
				<p-floatLabel>
					<p-password
						[toggleMask]="true"
						class="w-15rem"
						id="password"
						formControlName="password">
						<ng-template pTemplate="header">
							<h6>Pick a password</h6>
						</ng-template>
						<ng-template pTemplate="footer">
							<p-divider />
							<p class="mt-2">Suggestions</p>
							<ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
								<li>At least one lowercase</li>
								<li>At least one uppercase</li>
								<li>At least one numeric</li>
								<li>Minimum 8 characters</li>
							</ul>
						</ng-template>
					</p-password>
					<label for="password">Password</label><br>
				</p-floatLabel>
			</div>
			<p-button
				label="Register"
				icon="pi pi-sign-in"
				class="my-2"
				(onClick)="Register()"
				[loading]="loading"></p-button>
			<small>If you have account, <a routerLink="/login">Login</a></small>
			<div class="my-3">
				<p-button icon="pi pi-google" class="mr-2" />
				<p-button icon="pi pi-facebook" class="mr-2" />
				<p-button icon="pi pi-github" class="mr-2" />
				<p-button icon="pi pi-microsoft" class="mr-2" />
			</div>
		</div>
	</form>
</div>
