<div>
	<div class="relative h-screen">
		<div
			class="w-full h-full relative flex flex-column"
			[style]="{ background: 'linear-gradient(transparent 55%, black)' }">
			<!-- It's nav of page -->
			<div
				class="flex flex-column gap-5 lg:flex-row justify-content-between p-4"
				[style]="{
					background: 'linear-gradient(to bottom, #0d0d0d, transparent)'
				}">
				<div
					class="hidden justify-content-center lg:justify-content-start align-items-center gap-4 lg:flex">
					<ul class="list-none flex gap-6 p-0 m-0">
						<a
							class="text-white cursor-pointer transition-duration-200 hover:text-primary-100">
							<li>Home</li>
						</a>
						<a
							(click)="scrollToElement(features)"
							class="text-white cursor-pointer transition-duration-200 hover:text-primary-100">
							<li>Features</li>
						</a>
						<a
							(click)="scrollToElement(pricing)"
							class="text-white cursor-pointer transition-duration-200 hover:text-primary-100">
							<li>Pricing</li>
						</a>
					</ul>
				</div>
				<div
					class="flex justify-content-center lg:justify-content-end align-items-center gap-3">
					<button
						pButton
						pRipple
						label="Login"
						title="login"
						routerLink="login"
						class="w-8rem p-button-outlined text-white hover:text-white transition-duration-200 hover:bg-red-500"></button>
					<button
						pButton
						pRipple
						label="Register"
						title="Register"
						routerLink="register"
						class="w-8rem p-button-outlined text-white hover:text-white transition-duration-200 hover:bg-red-500"></button>
				</div>
			</div>
			<div class="mt-6 pt-0 box relative flex-grow-1">
				<!-- Logo -->
				<h1
					@slideInFwd
					@moveBackLeftToRight
					class="font-bold text-center sticky top-0 title select-none">
					SERFLIX
				</h1>
				<div class="absolute bottom-0 w-full contain-chairs overflow-hidden">
					<img
						@swingInBottom
						style="transform-origin: bottom"
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/chairs_v2.png"
						alt="chairs"
						class="chairs"
						priority
						fill />
				</div>
			</div>
		</div>
	</div>
	<div
		#features
		id="features"
		class="flex justify-content-between py-6 px-3 lg:px-6 w-full">
		<div class="grid nested-grid justify-content-around w-full">
			<div class="col-12 md:col-6 lg:col-3">
				<div class="grid grid-nogutter">
					<div class="col-12 relative h-7rem">
						<svg
							fill="#ffffff"
							height="100px"
							width="100px"
							version="1.1"
							id="Icons"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="0 0 32 32"
							xml:space="preserve">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g
								id="SVGRepo_tracerCarrier"
								stroke-linecap="round"
								stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path
									d="M31.6,5.2C31.4,5,31,5,30.7,5C21.1,7.6,10.9,7.6,1.3,5C1,5,0.6,5,0.4,5.2C0.1,5.4,0,5.7,0,6v20c0,0.3,0.1,0.6,0.4,0.8 S1,27,1.3,27c9.6-2.6,19.8-2.6,29.5,0c0.1,0,0.2,0,0.3,0c0.2,0,0.4-0.1,0.6-0.2c0.2-0.2,0.4-0.5,0.4-0.8V6C32,5.7,31.9,5.4,31.6,5.2 z M20.1,17.7l-5,3c-0.3,0.2-0.7,0.3-1,0.3c-0.3,0-0.7-0.1-1-0.3c-0.6-0.4-1-1-1-1.7V13c0-0.7,0.4-1.3,1-1.7c0.6-0.4,1.4-0.3,2,0l5,3 c0.6,0.4,0.9,1,0.9,1.7S20.6,17.3,20.1,17.7z"></path>
							</g>
						</svg>
					</div>
					<h3 class="text-2xl font-medium col-12">Movies</h3>
					<p class="text-base m-0 mt-2 text-color col-12">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt dolor magna aliqua.
					</p>
				</div>
			</div>
			<div class="col-12 md:col-6 lg:col-3">
				<div class="grid grid-nogutter">
					<div class="relative h-7rem col-12">
						<svg
							fill="#ffffff"
							height="100px"
							width="100px"
							version="1.1"
							id="Icons"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="0 0 32 32"
							xml:space="preserve"
							stroke="#ffffff">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g
								id="SVGRepo_tracerCarrier"
								stroke-linecap="round"
								stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path
									d="M29.5,14.1c-0.3-0.2-0.7-0.2-1,0l-4.6,2.3C23.7,15,22.5,14,21,14H7c-1.7,0-3,1.3-3,3v6c0,1.7,1.3,3,3,3h5.1l-3,4.4 c-0.3,0.5-0.2,1.1,0.3,1.4c0.5,0.3,1.1,0.2,1.4-0.3l3.2-4.8l3.2,4.8c0.2,0.3,0.5,0.4,0.8,0.4c0.2,0,0.4-0.1,0.6-0.2 c0.5-0.3,0.6-0.9,0.3-1.4l-3-4.4H21c1.5,0,2.7-1,2.9-2.4l4.6,2.3C28.7,26,28.8,26,29,26c0.2,0,0.4-0.1,0.5-0.1 c0.3-0.2,0.5-0.5,0.5-0.9V15C30,14.7,29.8,14.3,29.5,14.1z"></path>
								<path
									d="M19,1c-2.1,0-3.9,1.1-5,2.7C12.9,2.1,11.1,1,9,1C5.7,1,3,3.7,3,7s2.7,6,6,6c2.1,0,3.9-1.1,5-2.7c1.1,1.6,2.9,2.7,5,2.7 c3.3,0,6-2.7,6-6S22.3,1,19,1z M9,9C7.9,9,7,8.1,7,7s0.9-2,2-2s2,0.9,2,2S10.1,9,9,9z M19,9c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2 S20.1,9,19,9z"></path>
							</g>
						</svg>
					</div>
					<h3 class="text-2xl font-medium col-12">Series</h3>
					<p class="text-base m-0 mt-2 text-color col-12">
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="grid grid-nested grid-nogutter h-screen relative overflow-hidden">
		<div class="col-12">
			<div
				class="grid grid-nogutter h-full"
				pAnimateOnScroll
				enterClass="animation-leftToRigth"
				once="false">
				<div class="col relative poster">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Bad-boys-ride.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Beetlejuice.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden lg:block xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Borderlands.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Deadpool.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Despicable-4.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Inside-out-2.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
			</div>
		</div>
		<div class="col-12">
			<div
				class="grid grid-nogutter h-full w-full"
				pAnimateOnScroll
				enterClass="animation-rightToLeft"
				once="false">
				<div class="col relative poster">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Anne-with-an-e.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Breaking-bad.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden lg:block xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Chronicles-of-the-sun.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Real-time-with-bill-maher.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Rick-and-morty.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
				<div class="col relative poster hidden xl:block">
					<img
						ngSrc="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Salatut-elamat.jpg"
						alt=""
						class="w-auto h-full"
						fill />
				</div>
			</div>
		</div>
		<div
			class="absolute top-50 left-50 text-backdrop"
			[style]="{ transform: 'translate(-50%, -50%)' }">
			<h2 class="text-center">THE BEST PLATFORM</h2>
		</div>
	</div>
	<div
		#pricing
		id="pricing"
		class="flex justify-content-center py-6 w-full px-3 lg:px-6">
		<div class="grid justify-content-center w-full" style="max-width: 1200px">
			<div class="col-12 lg:col-4">
				<div
					class="border-1 surface-border surface-card h-full text-color border-round">
					<div class="p-5 border-bottom-1 surface-border">
						<h3 class="text-xl m-0 mb-1 text-800">Free</h3>
						<span class="text-600">
							You can add favorite movies and series and create until five
							profiles in your account
						</span>
						<p class="text-color-secondary mt-2 font-medium">$0</p>
					</div>
					<div>
						<ul class="p-0 mt-0" style="min-height: 175px">
							<li class="list-none px-5 py-2 border-bottom-1 surface-border">
								<span class="text-color-secondary">Add 5 profiles</span>
							</li>
							<li class="list-none px-5 py-2 border-bottom-1 surface-border">
								<span class="text-color-secondary">Visit any device</span>
							</li>
						</ul>
					</div>
					<div class="py-5 px-5">
						<button
							pButton
							pRipple
							class="flex justify-content-center w-full"
							routerLink="register">
							Get Started
						</button>
					</div>
				</div>
			</div>
			<div class="col-12 lg:col-4">
				<div
					class="border-1 surface-border surface-card h-full text-color border-round">
					<div class="p-5 border-bottom-1 surface-border">
						<h3 class="text-xl m-0 mb-1 text-800">Premium</h3>
						<span class="text-600">
							You have the same as free account but you can add more than 5
							profile
						</span>
						<p class="text-color-secondary mt-2 font-medium">$5</p>
					</div>
					<div>
						<ul class="p-0 mt-0" style="min-height: 175px">
							<li class="list-none px-5 py-2 border-bottom-1 surface-border">
								<span class="text-color-secondary">
									Add more than 5 profiles
								</span>
							</li>
							<li class="list-none px-5 py-2 border-bottom-1 surface-border">
								<span class="text-color-secondary">Visit any device</span>
							</li>
						</ul>
					</div>
					<div class="py-5 px-5">
						<button
							pButton
							pRipple
							class="flex justify-content-center w-full"
							routerLink="register">
							Get Started
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="flex align-items-center justify-content-center py-5"
		style="background-color: #292b2c">
		<div class="grid w-full" style="max-width: 1200px">
			<div class="col-12 lg:col-6">
				<h5 [style]="{ 'font-size': '5rem' }" class="font-bold text-center">
					SERFLIX
				</h5>
			</div>
		</div>
	</div>
</div>
