<div class="my-4">
    @if(movies() | async; as movies){
        <h2>{{title()}}</h2>
        <p-carousel
            [value]="movies.results"
            [numVisible]="8"
            [numScroll]="1"
            [showIndicators]="false"
            [circular]="false">
                <ng-template let-movie pTemplate="item">
                    <div class="mr-2 mb-2 overflow-hidden border-round-xl">
                        <img
                            title="movie"
                            [src]="movie.poster_path"
                            class="w-full"/>
                    </div>
                </ng-template>
        </p-carousel>
    }@else {
        <p-skeleton width="7rem"/>
        <div class="flex flex-row mt-3 overflow-hidden">
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
            <p-skeleton width="12rem" height="18rem" class="mr-2"/>
        </div>
    }
</div>