@use 'sass:math';

$offset: 187;
$duration: 0.3s;
$bgColor: --surface-ground;

.layout-preloader-container {
    width: 100%;
    min-height: 100%;
    background-color: $bgColor;
    position: absolute;
}

.layout-preloader-content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-left: -32px;
    margin-top: -32px;
}

.layout-preloader-corns {
    // stroke-dasharray: $offset;
    // stroke-dashoffset: 0;
    // transform-origin: center;
		transform: translateY(-50%);
    // animation:
		// 		shake $duration ease-in-out infinite;
    //     // dash $duration ease-in-out infinite;
    //     // colors ($duration*4) ease-in-out infinite;
}
.layout-preloader-corns path:nth-child(even){
	animation: down $duration ease-in-out infinite;
}
.layout-preloader-corns path:nth-child(odd){
	animation: down $duration ease-in infinite;
}
@keyframes down {
	0% {
		transform: translateY(0);
	}
	100%{
		transform: translateY(50%)
	}
}
