<div class="my-4">
	@if(items() | async; as items){
		@if(items.length) {
			<p-carousel
				[value]="items"
				[numVisible]="6"
				[numScroll]="1"
				[showIndicators]="false"
				[circular]="false"
				[responsiveOptions]="responsiveOptions">
				<ng-template pTemplate="header">
					<h3>{{title()}}</h3>
				</ng-template>
				<ng-template let-item pTemplate="item">
					<div
						class="relative h-20rem custom mr-2"
						[@fadeIn]>
						@if(item.poster_path){
							<img
								[title]="item.original_title || item.original_name || item.title"
								[ngSrc]="item.poster_path" fill loading="lazy" alt="poster"
								[style]="{objectFit: 'contain'}"
								(click)="EmitId(item)"
								class="h-full w-auto item m-auto cursor-pointer transition-duration-400"/>
						}
						@else {
							<div class="h-full flex align-items-center justify-content-center surface-50 text-center">
								<p>{{item.original_name || item.original_title || item.title}}</p>
							</div>
						}
					</div>
				</ng-template>
			</p-carousel>
		}
	}@else {
		<p-skeleton width="7rem" />
		<div class="flex flex-row mt-3 overflow-hidden h-22rem">
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
			<p-skeleton width="12rem" height="100%" class="mr-2" />
		</div>
	}
</div>
