<div class="w-full h-22rem mb-4 relative">
	@if(mainItems$ | async; as main){
		<p-carousel
			@slideInFwd
			[value]="main"
			[numVisible]="1"
			[numScroll]="1"
			[showNavigators]="false">
			<ng-template let-main pTemplate="item">
				<div
					class="grid grid-nogutter h-20rem cursor-pointer"
					(click)="SelectedMain(main)">
					<div class="relative md:block col-12 md:col-6 h-full">
						<img
							title="movie"
							class="main-image border-round-left-md"
							[ngSrc]="main.backdrop_path"
							fill
							priority
							[style]="{ objectFit: 'cover' }" />
					</div>
					<div class="absolute md:relative col-6 h-full md:px-3">
						<h3 class="text-backdrop">
							{{ main.original_title || main.original_name }}
						</h3>
						<p class="hidden md:block">{{ main.overview }}</p>
					</div>
				</div>
			</ng-template>
		</p-carousel>
	}@else {
		<p-skeleton height="100%" />
	}
</div>
<div class="w-full h-5rem grid-nogutter lg:flex hidden">
	<div
		class="col bg-green-500 mx-2 border-round categories shadow-5"
		@slideInFwd
		(click)="SelectedCategory('adventure')">
		<h3 class="text-center pt-3 select-none">Adventure</h3>
	</div>
	<div
		class="col bg-yellow-500 mx-2 border-round categories shadow-5"
		@slideInFwd
		(click)="SelectedCategory('comedy')">
		<h3 class="text-center pt-3 select-none">Comedy</h3>
	</div>
	<div
		class="col bg-red-500 mx-2 border-round categories shadow-5"
		@slideInFwd
		(click)="SelectedCategory('horror')">
		<h3 class="text-center pt-3 select-none">Horror</h3>
	</div>
	<div
		class="col bg-blue-500 mx-2 border-round categories shadow-5"
		@slideInFwd
		(click)="SelectedCategory('animation')">
		<h3 class="text-center pt-3 select-none">Animation</h3>
	</div>
</div>
<app-list-items
	styleClass="bg-red-600"
	[items]="favorites$"
	title="Favorites"
	titleEmpy="There aren't favorite movies"
	(getIdAndType)="SelectedItem($event)"
	@slideInFwd
	[priority]="true"/>
@if(showLastViewed){
	<app-list-items
		styleClass="surface-overlay"
		[items]="recLastView$"
		[title]="nameOfLastViewedItem"
		(getIdAndType)="SelectedItem($event)" />
}
@for(rec of recs$; track $index){
	<div style="min-height: 10rem;">
		@defer(on viewport){
			<app-list-items
				styleClass="surface-overlay"
				[items]="rec"
				(getIdAndType)="SelectedItem($event)" />
		}@placeholder {
			<div>List of recommendations</div>
		}
	</div>
}
