<div class="layout-menu-profile">
    @if(profile$ | async; as profile){
        <button class="p-link border-noround" (click)="toggleMenu()" pTooltip="Profile" [tooltipDisabled]="isTooltipDisabled">
            <img [src]="profile.img" alt="avatar" style="width: 32px; height: 32px;">
            <span>
                <strong>{{profile.name}}</strong>
            </span>
            <i class="layout-menu-profile-toggler pi pi-fw" [ngClass]="{'pi-angle-down': menuProfilePosition === 'start' || isHorizontal, 'pi-angle-up': menuProfilePosition === 'end' && !isHorizontal}"></i>
        </button>
    }@else{
				<p-skeleton width="100%" height="4rem"/>
    }
    <ul *ngIf="menuProfileActive" [@menu]="isHorizontal ? 'overlay' : 'inline'">
        <li pTooltip="Settings" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link">
                <i class="pi pi-cog pi-fw"></i>
                <span>Settings</span>
            </button>
        </li>
        <li pTooltip="Profile" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" routerLink="profile">
                <i class="pi pi-file-o pi-fw"></i>
                <span>Profile</span>
            </button>
        </li>
        <li pTooltip="Support" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" (click)="ChangeProfile()">
                <i class="pi pi-compass pi-fw"></i>
                <span>Change profile</span>
            </button>
        </li>
        <li pTooltip="Logout" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" (click)="LogOut()">
                <i class="pi pi-power-off pi-fw"></i>
                <span>Logout</span>
            </button>
        </li>
    </ul>
</div>
