<div class="flex justify-content-center flex-column align-items-center h-screen">
    @if(profiles$ | async; as profiles){
        @if(profiles.length){
            <h1 class="text-center my-5">Select your profile</h1>
            <div class="flex">
                @for(profile of profiles; track $index){
                    <div class="h-15rem w-15rem mr-5 text-center" (click)="SelectProfile(profile.id)">
                        <img [src]="profile.url" alt="Not found" class="h-full border-round select-profile">
                        <p [style]="{'font-size': 'x-large'}" class="font-bold">{{profile.name}}</p>
                    </div>
                }
                @if(profiles.length < 5){
                    <div class="h-15rem w-15rem mr-5 bg-red-500 border-round flex justify-content-center align-items-center select-profile" (click)="addProfile = true">
                        <i class="pi pi-plus" [style]="{'font-size': '10vw'}"></i>
                    </div>
                    <!--That section is for created profile-->
                    <p-dialog header="Add profile" [modal]="true" [(visible)]="addProfile" [style]="{'width': '25rem', 'height': '30rem'}">
                        <div class="flex justify-content-center align-items-center pointer h-10rem w-10rem m-auto">
                            @if(urlProfileSelected){
                                <img [src]="urlProfileSelected" alt="Not found" (click)="ViewPhotosForProfile()" class="h-full">
                            }@else {
                                <i class="pi pi-user" [style]="{'font-size': '10vw'}" (click)="ViewPhotosForProfile()"></i>
                            }
                        </div>
                        <div class="flex justify-content-center flex-column">
                            <label for="name">Name</label><br>
                            <input pInputText type="text" name="" id="name" title="name" [(ngModel)]="nameProfileSelected">
                        </div>
                        <ng-template pTemplate="footer" class="flex">
                            <p-button label="Create" (onClick)="CreateProfile()"/>
                        </ng-template>
                        <p-confirmDialog/>
                    </p-dialog>
                    <!-- And this section is for selected a photo for profile -->
                    <p-dialog header="Select photo" [(visible)]="selectPhotoProfile" [style]="{'width': '100%', 'height': '100%'}">
                        @if(photos$ | async; as photos){
                            @for (photo of photos.results; track $index) {
                                <div class="h-10rem inline-block m-3">
                                    <img [src]="photo.image" alt="Not found" class="h-full border-round select-profile" (click)="ChangePhotoProfile(photo.image)">
                                </div>
                            }
                        }@else {
                            <p-progressSpinner/>
                        }
                    </p-dialog>
                }
            </div>
        }
        @else {
            <p-progressSpinner/>
        }
    }
</div>