<div class="h-screen grid grid-nogutter justify-content-center align-items-center">
	<div class="bg-red-700 p-4 h-29rem col-fixed w-26rem border-round shadow-6">
			<form [formGroup]="formControl" class="h-full">
				<div class="w-full h-full bg-red-600 border-round grid grid-nogutter justify-content-center align-items-center p-4 shadow-2">
					<h1 class="col-12">Reset password</h1>
					<div class="col-12">
						<p-floatLabel>
							<p-password
								[feedback]="false"
								[toggleMask]="true"
								id="new-password"
								formControlName="newPassword"
								placeholder="New password"
								styleClass="w-full"
								inputStyleClass="w-full">
							</p-password>
							<label for="new-password">New password</label><br>
						</p-floatLabel>
					</div>
					<div class="col-12">
						<p-floatLabel>
							<p-password
								[feedback]="false"
								[toggleMask]="true"
								id="confirm-password"
								formControlName="confirmPassword"
								placeholder="confirm Password"
								styleClass="w-full"
								inputStyleClass="w-full">
							</p-password>
							<label for="confirm-password">Confirm new password</label><br>
						</p-floatLabel>
					</div>
					<div class="col-12">
						<p-button
							label="Submit"
							icon="pi pi-sign-in"
							class="my-2"
							(onClick)="resetPassword()"
							[loading]="loading"></p-button>
					</div>
				</div>
			</form>
		</div>
</div>
