<p-dialog
	header="Select photo"
	[visible]="isActive"
	(visibleChange)="isActiveChange.emit($event)"
	[style]="{'width': '100%', 'min-height': '100%'}">
	<div class="grid justify-content-center">
		@if(images$() | async; as photos){
			@for (photo of photos.results; track $index) {
				<div class="col-4 h-15rem cursor-pointer hover:shadow-8 w-auto transition-duration-400">
					<img [src]="photo.image" alt="Not found" class="h-full border-round select-profile" (click)="getImage.emit(photo.image)">
				</div>
			}
		}@else {
			<p-skeleton />
		}
	</div>
</p-dialog>
