<div class="grid nested-grid grid-nogutter" [style]="{height: '80vh'}">
    <p-toast/>
		@if(profile$ | async; as profile){
			<div class="col-2 grid grid-nogutter h-full">
				<div class="col-12 relative">
					<img [ngSrc]="profile.img" alt="" fill priority [style]="{objectFit: 'contain'}" (click)="ChangePhotoProfile()">
					<app-show-images title="Select an image" [images$]="photos$" [(isActive)]="selectPhotoProfile"/>
				</div>
			</div>
			<div class="col-10 grid nested-grid grid-nogutter">
					<div class="col-12 grid grid-nogutter" [style]="{height: '50%'}">
						<div class="col-6 h-full p-4">
							@if(dataChartFavorite){
								<p-chart type="doughnut" [data]="dataChartFavorite" [options]="dataChartOptions" height="100%"/>
							}
						</div>
						<div class="col-6 h-full p-5">
							<p-floatLabel>
								<input type="text" pInputText title="change name" id="change-name" class="w-full" [style]="{fontSize: '1.2rem'}"/>
								<label for="change-name">Change name</label>
							</p-floatLabel>
							<p-button label="Change" icon="pi pi-pencil" [style]="{marginTop: '2rem'}"/>
						</div>
					</div>
					<div class="col-12 grid grid-nogutter align-content-center p-6" [style]="{height: '50%'}">
						<div class="col">
							<img src="assets/goals/goal_favorite_x5.png" alt="five favorite movies" class="h-10rem opacity-10 border-round">
						</div>
						<div class="col">
							<img src="assets/goals/goal_favorite_x10.png" alt="ten favorite movies" class="h-10rem opacity-10 border-round">
						</div>
						<div class="col">
							<img src="assets/goals/goal_favorite_x20.png" alt="twelve favorite movies" class="h-10rem opacity-10 border-round">
						</div>
						<div class="col">
							<img src="assets/goals/goal_favorite_x50.png" alt="fifty favorite movies" class="h-10rem opacity-10 border-round">
						</div>
					</div>
			</div>
		}@else {
			<p-skeleton height="100%" class="col-2 p-2"/>
			<div class="col-10 grid nested-grid grid-nogutter">
					<div class="col-12 grid grid-nogutter p-2">
						<p-skeleton class="col-6 pr-2" height="100%"/>
						<p-skeleton class="col-6 pl-2" height="100%"/>
					</div>
					<p-skeleton class="col-12 p-2" height="100%"/>
			</div>
		}
</div>
