<div class="h-20rem">
    @if(mainEntertaiment | async; as mains){
        <p-carousel 
            [value]="mains.results"
            [numVisible]="1"
            [numScroll]="1"
            [autoplayInterval]="3000"
            [showNavigators]="false">
            <ng-template let-main pTemplate="item">
                <div class="mr-2 mb-2 border-round-xl overflow-hidden flex">
                    <div>
                        <img
                            title="movie"
                            [src]="main.backdrop_path"
                            class="h-20rem"/>
                    </div>
                    <div class="p-4 relative">
                        <h3>{{main.original_title}}</h3>
                        <p>{{main.overview}}</p>
                        <div class="absolute right-0 h-5rem w-10rem">
                            <i class="pi pi-star" [style]="{color: 'yellow', fontSize: '1.5rem'}">{{main.vote_average}}</i><br>
                            <i class="pi pi-heart" [style]="{color: 'red', fontSize: '1.5rem'}">{{main.vote_count}}</i>
                        </div>
                        <p-button icon="pi pi-plus"/>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    }
</div>
<app-list-movies [movies]="moviesData" title="Popular movies"/>
<app-list-series [series]="serieData" title="Popular series"/>