<div class="h-20rem w-full">
    @if(mainEntertaiment$ | async; as mains){
        <p-carousel
            [value]="mains.results"
            [numVisible]="1"
            [numScroll]="1"
            [autoplayInterval]="3000"
            [showNavigators]="false">
            <ng-template let-main pTemplate="item">
                <div class="mr-2 mb-2 border-round-xl overflow-hidden flex">
                    <div class="relative w-9" (click)="SelectedMovie(main.id)">
                        <img
                            title="movie"
                            [ngSrc]="main.backdrop_path"
                            fill priority [style]="{objectFit: 'cover'}"/>
                    </div>
                    <div class="p-4 relative">
                        <h3>{{main.original_title}}</h3>
                        <p>{{main.overview}}</p>
                        <div class="absolute right-0 h-5rem w-10rem">
                            <i class="pi pi-star" [style]="{color: 'yellow', fontSize: '1.5rem'}">{{main.vote_average}}</i><br>
                            <i class="pi pi-heart" [style]="{color: 'red', fontSize: '1.5rem'}">{{main.vote_count}}</i>
                        </div>
                        <p-button icon="pi pi-plus"/>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    }@else {
        <p-skeleton height="20rem"/>
    }
</div>
<app-list-items [items]="moviesFavoriteData$" title="Favorite movies" (getId)="SelectedMovie($event)"/>
<app-list-items [items]="seriesFavoriteData$" title="Favorite series" (getId)="SelectedSerie($event)"/>
<app-list-items [items]="moviesData$" title="Popular movies" (getId)="SelectedMovie($event)"/>
<app-list-items [items]="serieData$" title="Popular series" (getId)="SelectedSerie($event)"/>
